html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-top: 1em;
  margin-bottom: 1em;
} 

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  margin-top: 1em;
  margin-bottom: 1em;
} 

#app > .list-post {
  display: flex;
  flex-direction: column;
}