extends layout.pug

block app
  #app
    ul
      each post in posts
        li.row
          span #{post.title}
          a(href='/post/' + post.id + '/edit') edit
          a(href='/post/' + post.id) view

block script
  include posts
  +posts()