html
  head
    title Bliff - #{title}
    link(rel="stylesheet" href="/public/css/main.css")
    link(rel="stylesheet" href="/public/css/util.css")
    link(rel="stylesheet" href="/public/css/editor.css")
    link(rel="stylesheet" href="/public/css/markdown.css")  
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css")

  body
    #menu: a(href='/') index

    block app

block script
