mixin post()
  script(src="/editor.worker.bundle.js")
  script(src="/json.worker.bundle.js")
  script(src="/css.worker.bundle.js")
  script(src="/html.worker.bundle.js")
  script(src="/ts.worker.bundle.js")
  script(src="/post.bundle.js")