/* full editor container */

.full-editor-container.edit-mode:nth-of-type(2n+1) {
  background-color:#F5F5F5;
}

.full-editor-container {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.full-editor-container.show-mode {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;  
}

/* editor container */

.text-editor-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-left: 10em;
  margin-right: 10em;
}

.code-editor-container {
  display: flex;
  flex-direction: column;  
  align-items: center;  

  margin-left: 10em;
  margin-right: 10em;
}

.diff-editor-container {  
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-left: 10em;
  margin-right: 10em;
}

/* editor */

.code-editor, .diff-editor {
  border: 1px solid grey;  
}

.code-editor {
  
}

.text-editor {
  flex-basis: 50rem;
}

.text-preview {
  flex-basis: 100rem;
  font-weight: 400;
  max-width: 700;
  
  line-height: 32px; 
  font-size: 21px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}
.text-preview.edit-mode {
  flex-basis: 50rem;
}

.text-preview h1 {
  line-height: 60px;
  font-size: 48px;
}

.text-preview h2 {
  line-height: 36px;
  font-size: 30px;
}

.text-preview h3 {
  line-height: 28px;
  font-size: 22px;
}


.editor {  
  height:5rem;
  width: 100%; 
}

